ion-content {
  --padding-top: 20%;
  --padding-start: 10%;
  --padding-end: 10%;
}

.input-group {
  background: hsl(231, 96%, 54%);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
